<header>
	<div class="logo-box">
	logo here
	</div>
	<div class="menu-box">
		<ul class="menu">
			<li><a class="active" href="#"><span>首頁</span></a></li>
			<li><a href="#"><span>商品項目</span></a></li>
			<li><a href="#"><span>最新消息</span></a></li>
			<li><a href="#"><span>購物說明</span></a></li>
		</ul>				
	</div>
	<div class="contact-info-box">
		<p>
			<span>客服管道如下 <i class="fa fa-users"></i> </span>
		</p>
	</div>
	<div class="social-box">
		<ul class="social-icons">
			<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a class="weixin" href="#"><i class="fa fa-weixin"></i></a></li>
			<li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>
	<div class="copyright">
		<p>&#169; 2014 油 inc, All Rights Reserved</p>	
	</div>
</header>