<header>
	<div class="logo-box">
		
	</div>
	<div class="menu-box">
		<ul class="menu">
			<li><a class="active" href="#"><span>Home</span></a></li>
			<li><a href="#"><span>Products</span></a></li>
		</ul>				
	</div>
	<div class="contact-info-box">
		<p>
			<span>jzd.tsai@gmail.com <i class="fa fa-envelope-o"></i></span>
			<span>0938525399 <i class="fa fa-phone"></i></span>
		</p>
	</div>
	<div class="social-box">
		<ul class="social-icons">
			<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
			<li><a class="weixin" href="#"><i class="fa fa-weixin"></i></a></li>
		</ul>
	</div>
	<div class="copyright">
		<p>&#169; 2014 油 inc,</p>
		<p>All Rights Reserved</p>				
	</div>
</header>