<div class="preloader">
	<img alt="" src="/assets/upload/preloader.GIF">
</div>
<script type="text/javascript" src="/assets/laboq/jquery.migrate.js"></script>
<script type="text/javascript" src="/assets/laboq/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="/assets/laboq/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/assets/laboq/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/laboq/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/assets/laboq/script.js"></script>